.flex {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.logo {
  margin: 0;
}

.boton {
  background-color: rgba(250, 250, 250, 0.4);
}

.lista {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.bloque {
  padding: 4rem;
  background-color: blue;
}
